<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phishing Data</title>
  <style>
    a {
        text-decoration: none; /* This removes the underline */
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>

<h2 style="color: rgb(56, 99, 168);"><a href="/" >Phishing Data</a></h2>

<table>
  <tr>
    <th>IP</th>
    <th>Prediction</th>
    <th>Time</th>
    <th>URL</th>
  </tr>
  {% for val in history %}
    <tr>
        <td>{{ val.ip }}</td>
        <td>{{ val.pred }}</td>
        <td>{{ val.time }}</td>
        <td>{{ val.url }}</td>
    </tr>
  {% endfor %}

</table>

</body>
</html>